.header-block {
    width: 50%;
    display: inline-block;
}

.weather-block {
    margin-bottom: 20px;
    background: #efefef;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin-right: 10px;
}

.weather-list-block {
    border: 1px solid #eddddd;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
