.covid-block {
    height: 550px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    float: none;
    width: 100%;
    position: static;
    background: white;
    color: black;
}

@media only screen and (min-width: 1350px) {
    .covid-block {
        position: fixed;
        float: left;
        width: 16%;
        background: rgb(30,126,52);
        background: linear-gradient(90deg, rgba(30,126,52,1) 0%, rgba(63,136,68,1) 21%, rgba(99,124,101,1) 100%);
        color: white;
        border: 1px solid #1e7e34;
    }
}

.summary-individual-block {
    font-size: 30px;
}
